[user]
	name = jstcz
	email = j.czepluch@proton.me
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --oneline --graph --decorate
