gui:
  theme:
    activeBorderColor:
      - '#89b4fa'
      - bold
    inactiveBorderColor:
      - '#a6adc8'
    optionsTextColor:
      - '#89b4fa'
    selectedLineBgColor:
      - '#313244'
    cherryPickedCommitBgColor:
      - '#45475a'
    cherryPickedCommitFgColor:
      - '#a6adc8'
    unstagedChangesColor:
      - '#f38ba8'
    stagedChangesColor:
      - '#a6e3a1'
    defaultFgColor:
      - '#cdd6f4'
    selectedRangeBgColor:
      - '#45475a'
