root={{ colors.color8.default.hex }},{{ colors.background.default.hex }}
border={{ colors.accent.default.hex }},{{ colors.color0.default.hex }}
window={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
shadow={{ colors.background.default.hex }},#000000
title={{ colors.accent.default.hex }},{{ colors.color0.default.hex }}
button={{ colors.foreground.default.hex }},{{ colors.color8.default.hex }}
actbutton={{ colors.selection_foreground.default.hex }},{{ colors.selection_background.default.hex }}
compactbutton={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
checkbox={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
actcheckbox={{ colors.selection_foreground.default.hex }},{{ colors.selection_background.default.hex }}
entry={{ colors.foreground.default.hex }},{{ colors.background.default.hex }}
disentry={{ colors.color8.default.hex }},{{ colors.color0.default.hex }}
label={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
listbox={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
actlistbox={{ colors.selection_foreground.default.hex }},{{ colors.selection_background.default.hex }}
sellistbox={{ colors.foreground.default.hex }},{{ colors.color8.default.hex }}
actsellistbox={{ colors.selection_foreground.default.hex }},{{ colors.selection_background.default.hex }}
textbox={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
acttextbox={{ colors.foreground.default.hex }},{{ colors.color0.default.hex }}
helpline={{ colors.color8.default.hex }},{{ colors.background.default.hex }}
roottext={{ colors.foreground.default.hex }},{{ colors.background.default.hex }}
emptyscale={{ colors.color8.default.hex }},{{ colors.background.default.hex }}
fullscale={{ colors.background.default.hex }},{{ colors.accent.default.hex }}
